.assistant {
    text-align: left;
    color: greenyellow;
}

.user {
    text-align: right;
    color: cyan;
}

a {
    color: white;
}

#fortuna {
    height: 250px;
    display: block;
    margin: auto;
}
