<h1>Fortuna</h1>
<deepgram-agent id="dg-agent"
url="wss://agent.deepgram.com/agent"
height="250"
width="250"
idle-timeout-ms="1000000"></deepgram-agent>
<p>
  Usage: {{ this.cost.toLocaleString("en-US", { style: "currency", currency: "USD"})}}
</p>
<div *ngIf="!connected">
  <p>When you are ready to connect to the websocket, click the button below.</p>
  <p>
    Note that you are billed for time connected, not for time you spend
    transmitting audio.
  </p>
  <button (click)="connect()">Connect</button>
</div>
<div *ngIf="connected">
  <p>
    When you are done with your conversation, we recommend disconnecting to save
    costs.
  </p>
  <button (click)="disconnect()">Disconnect</button>
</div>
<p>
<a routerLink="/config">Reconfigure</a>
</p>
<h2>Transcript</h2>
<button (click)="clearTranscript()">Clear Transcript</button>
<p *ngFor="let message of messages" [class]="message.type">{{ message.content }}</p>
<h2>Logs</h2>
<button (click)="clearLogs()">Clear Logs</button>
<p *ngFor="let log of logs">{{ log }}</p>
<h2>Errors</h2>
<button (click)="clearErrors()">Clear Errors</button>
<p *ngFor="let error of errors">{{ error }}</p>
